In [ ]:
import pandas as pd
import random

match_df = pd.read_csv('E:\worksapce\db import\_match.csv')

In [95]:
player_df = pd.read_csv('E:\worksapce\db import\player.csv')
player_df[(player_df['id_club'] == 16) | (player_df['id_club'] == 8)]

     id  id_club  height  weight  number
21  P22        8     170      65       7
22  P23        8     183      77       9
23  P24        8     188      82       1
45  P46       16     183      77      16
46  P47       16     170      65      17
47  P48       16     178      72      48